Source: demo-sysrepo
Section: devel
Priority: optional
Maintainer: Luka Perkov <luka.perkov@sartura.hr>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://www.sysrepo.org/

Package: demo-sysrepo
Architecture: amd64 i386
Depends: hello-ifstat, sysrepod, sysrepo-cli, freenetconfd, freenetconfd-plugin-sysrepo, tmux
Description: demo package for sysrepo
